
{% extends "layout.html" %}

{% form_theme form _self %}

{% block form_row %}
    <div class="{{ form.get('attr').class }}">
        {{ form_label(form) }}
        {{ form_widget(form) }}
    </div>
    {% if help is defined %}
        <p class="form-help">
            {{ help }}
        </p>
    {% endif %}
    {% if form_errors(form) %}
        <p class="form-error">{{ form_errors(form) }}</p>
    {% endif %}
{% endblock %}


{#
    TODO
    grouper dans une span les label et radio
    mettre le label devant la radio et pas derrière
    appliquer table-cell à la span, et display block au label
    un text-align center permettra de les aligner nickel
#}

{% block title %}Questionaire{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <form action="#" method="post">
        {{ form_widget(form) }}

        <input type="submit" name="submit" value="Continuer" />
    </form>
{% endblock %}



