{% extends "layout.html.twig" %}

{% form_theme form _self %}

{#% block head %}
    <!--style >
        .important { color: #336699; }

        {% for class in scales -%}
            #form>.{{ class }}+.{{ class }}
            {% if not loop.last %},{% endif %}
        {%- endfor %}{
            margin-top: .3em !important;
        }

        {% for class in scales -%}
            #form>.{{ class }}+.{{ class }} div label
            {% if not loop.last %},{% endif %}
        {%- endfor %}{
            visibility:hidden;
            height: 0;
            overflow: hidden;
        }
        {% for class in scales -%}
            #form>.{{ class }}>label:before
            {% if not loop.last %},{% endif %}
        {%- endfor %}{
            content: "→";
            display: block;
        }
        {% for class in scales -%}
            #form>.{{ class }}+.{{ class }}>label:before
            {% if not loop.last %},{% endif %}
        {%- endfor %}{
            content: "";
            display: inline;
        }
        {% for class in scales -%}
            #form>.likert.{{ class }}>label:before
            {% if not loop.last %},{% endif %}
        {%- endfor %}{
            content: "";
            display: inline;
        }
    </style>
{% endblock %#}

{% block form_row %}
{% spaceless %}
    <div {% if form.get('attr').class is defined %}class="{{ form.get('attr').class }}"{% endif %}>
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block hidden_row %}
    {{ form_widget(form) }}
{% endblock hidden_row %}


{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        <span class="choiceItem">
            {{ form_widget(child) }}
            {{ form_label(child) }}
        </span>
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block content %}
    <h2 class="steps">Étapes
        {% for page in pages -%}
            <span class="item {% if page < shownPage %}done{% endif %}{% if page == shownPage %}active{% endif %}" >
                {{ page }}
            </span>
            {% if not loop.last %}<span class="separator">| </span>{% endif %}
        {%- endfor %}
    </h2>
    <h1>Enquête 2013 sur la vie au travail</h1>
    <form action="#" method="post">
        {{ form_widget(form) }}

        <div>
            Valider cette partie et commencer la suivante :
            <input type="submit" class="button" name="submit" value="Continuer" />
        </div>
    </form>
{% endblock %}
