{% extends "layout.html.twig" %}

{% form_theme form _self %}

{% block head %}
    <style>
        .important { color: #336699; }

        {% for class in scales -%}
            #form>.{{ class }}+.{{ class }}
            {% if not loop.last %},{% endif %}
        {%- endfor %}{
            margin-top: 0 !important;
        }

        {% for class in scales -%}
            #form>.{{ class }}+.{{ class }} div label
            {% if not loop.last %},{% endif %}
        {%- endfor %}{
            visibility:hidden;
            height: 0;
            overflow: hidden;
        }
        {% for class in scales -%}
            #form>.{{ class }}>label:before
            {% if not loop.last %},{% endif %}
        {%- endfor %}{
            content: "→";
            display: block;
        }
        {% for class in scales -%}
            #form>.{{ class }}+.{{ class }}>label:before
            {% if not loop.last %},{% endif %}
        {%- endfor %}{
            content: "";
            display: inline;
        }
    </style>
{% endblock %}

{% block form_row %}
    <div {% if form.get('attr').class is defined %}class="{{ form.get('attr').class }}"{% endif %}>
        {{ form_label(form) }}
        {{ form_widget(form) }}
    </div>
    {% if help is defined %}
        <p class="form-help">
            {{ help }}
        </p>
    {% endif %}
    {% if form_errors(form) %}
        <p class="form-error">{{ form_errors(form) }}</p>
    {% endif %}
{% endblock %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        <span class="choiceItem">
            {{ form_label(child) }}
            {{ form_widget(child) }}
        </span>
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block content %}
    <h2 class="steps">Étapes
        {% for page in pages -%}
            <span class="item {% if page < shownPage %}done{% endif %}{% if page == shownPage %}active{% endif %}" >
                {{ page }}
            </span>
            {% if not loop.last %}<span class="separator">&gt;</span>{% endif %}
        {%- endfor %}
    </h2>
    <h1>Enquête 2013 sur la vie au travail</h1>
    <form action="#" method="post">
        {{ form_widget(form) }}

        <input type="submit" class="right button" name="submit" value="Continuer" />
        <div class="clear"></div>
    </form>
{% endblock %}

